#navBar {}

div {
    background-color: cadetblue;
}

h1 {
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;

}

li {
    margin: 15px;
    font-size: 20px;
    ;
}

body {
    margin: 0;
}